@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #72489cc5;
}

/* Start of Navigation Bar */
#header {
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-bar {
    padding: 15px;
}

.nav-bar-items {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    font-family: "Roboto", sans-serif;
    color: #f2f2f2;
    font-size: larger;
    list-style: none;
}

.nav-bar-items li {
    transition: all 0.3s;
}

.nav-bar-items li:hover {
    padding: 5px 25px;
    color: rgb(92, 7, 126);
    font-weight: 900;
    border-radius: 10px;
    background-color: rgba(99, 60, 136, 0.432);
}
/* End of Navigation Bar */

#description{
    display: flex;
    flex-direction: column;
    gap: 2dvh;
    margin: auto;
    padding: 1dvw;
    background: #4e2772;
    border-radius: 5px;
}

#title-page{
    display: flex;
    text-align: center;
    color: #f2f2f2;
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    gap: 0.5dvw;
}

#text-description{
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    color: #f2f2f2;
}

#card-courses{
    display: flex;
    justify-content: center;
    gap: 2dvw;
    margin: 5dvh;
}

.card-infor{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1dvh;
    padding: 2dvh;
    background: linear-gradient(50deg, #4e2772, #9b59b6);    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    color: #f2f2f2;
    box-shadow: 0 10px 10px #4e2772;
}

.img-course{
    border-radius: 10px;
}

.link-course{
    padding: 0.5dvh;
    text-decoration: none;
    color: #f2f2f2;
    text-align: center;
    border: solid 1px #f2f2f2;
    border-radius: 5px;
}

.fa-arrow-right{
    font-size: 0.9rem;
}

/* Responsividade */
@media (max-width: 768px) {

}

